# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

In [1]:
import pandas as pd

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [3]:
recipes = pd.read_csv("recipes_sample.csv")
reviews = pd.read_csv("reviews_sample.csv", index_col = 0)
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [4]:
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [5]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [6]:
#для recipes
print('количество строк:', recipes.shape[0])
print('количество столбцов:', recipes.shape[1])
print('тип данных каждого столбца', '\n', recipes.dtypes)
print()
#для reviews
print('количество строк:',reviews.shape[0])
print('количество столбцов:', reviews.shape[1])
print('тип данных каждого столбца', '\n', reviews.dtypes)

количество строк: 30000
количество столбцов: 8
тип данных каждого столбца
 name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

количество строк: 126696
количество столбцов: 5
тип данных каждого столбца
 user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [112]:
colvo_recipe = recipes.isnull().any(axis=1).sum()
vsego_recipe = recipes.shape[0]
print('доля строк в recipes, содержащих пропуски, в отношении к общему количеству строк:', colvo_recipe/vsego_recipe)
print(f'Ответ в процентах: {colvo_recipe/vsego_recipe*100}%')

доля строк в recipes, содержащих пропуски, в отношении к общему количеству строк: 0.5684666666666667
Ответ в процентах: 56.846666666666664%

In [113]:
recipes.columns[recipes.isnull().any()].tolist() #список столбцов, в которых находятся пустые значения

['n_steps', 'description', 'n_ingredients', 'description_length']

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [9]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [7]:
#для recipes
sredn_minutes = recipes.loc[:, 'minutes'].mean()
sredn_steps = recipes.loc[:, 'n_steps'].mean()
sredn_ingridient = recipes.loc[:, 'n_ingredients'].mean()
print('minutes:', sredn_minutes)
print('n_steps:', sredn_steps )
print('n_ingredients:', sredn_ingridient)

minutes: 123.35813333333333
n_steps 9.805582137161085
n_ingredients 9.008285984848484

In [92]:
reviews.head()

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

In [8]:
sredn_rating = reviews.loc[:, 'rating'].mean()
print('rating', sredn_rating)

#другой способ
'''sredn_rating = reviews.rating.mean()'''

rating 4.410802235271832

'sredn_rating = reviews.rating.mean()'

1.5 Создайте серию из 10 случайных названий рецептов.

In [12]:
recipes['name'].sample(n=10)

15881    lemon drop cocktails from ina garten  barefoot...
10984    filete de culichi  tilapia w mushrooms in pobl...
17872               mocha satin ice cream or dessert sauce
3749                      brie and cheddar savory crackers
12645                       green bean bundles  paula deen
11045                         fish in creamy coconut sauce
9438                                     different goulash
25083                             spaghetti with meatballs
2283              barbecue pot pie with cheese grits crust
7965                                  cranberry salad mold
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [9]:
reviews6 = reviews.reset_index(drop= True , inplace= False )
#drop = True не сохраняет старый индекс в новый столб, inplace = меняет исходную таблицу
reviews6

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [10]:
recipes7 = recipes[(recipes.loc[:,'minutes']<=20)&(recipes.loc[:,'n_ingredients']<=5)]
recipes7

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [115]:
recipes['submitted'] = pd.to_datetime(recipes.submitted)
recipes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 26223 to 4710
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                30000 non-null  object
 1   id                  30000 non-null  int64
 2   minutes             30000 non-null  int64
 3   contributor_id      30000 non-null  int64
 4   submitted           30000 non-null  datetime64[ns]
 5   n_steps             18810 non-null  float64
 6   description         29377 non-null  object
 7   n_ingredients       21120 non-null  float64
 8   name_word_count     30000 non-null  int64
 9   description_length  29377 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(2)
memory usage: 2.5+ MB

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [117]:
recipes[pd.DatetimeIndex(recipes['submitted']).year<=2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,description_length
26223,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,15,343.0
28083,Tsr Version Of T G I Friday S Black Bean Soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,14,436.0
26222,Subru Uncle S Toor Ki Dal Sindhi Style Dad M...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,14,1087.0
27876,Top Secret Recipes Version Of I H O P Griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,14,129.0
5734,Chicken Curry Or Cat S Vomit On A Bed Of Magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,13,144.0
...,...,...,...,...,...,...,...,...,...,...
23016,Rotini,207839,35,427101,2007-01-28,NaN,"i know the title is somewhat vague, but this i...",8.0,1,273.0
23063,Runzas,55733,45,68585,2003-03-06,17.0,this is an old recipe from a chain of restaura...,10.0,1,69.0
4340,Caesar,52399,1,67395,2003-01-27,4.0,"made with clamato, this is a very popular drin...",8.0,1,95.0
21111,Pomidori,353387,2,498271,2009-02-02,NaN,a fresh and fruity sipper you're sure to enjoy!,NaN,1,47.0
4710,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,1,341.0

In [ ]:
#2способ recipes[recipes['submitted'].dt.year <= 2010]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [118]:
recipes['description_length']  = recipes['description'].str.len()
recipes[500:550]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,description_length
10504,Elephant Ears Dusted Or Glazed My Mom S Recipe,28438,120,31261,2002-05-15,NaN,these are really good and are easiest made wit...,NaN,9,155.0
25928,Stir Fried Cabbage With Ginger Soy Garlic An...,134324,15,214855,2005-08-22,10.0,great side dish.,7.0,9,16.0
3193,Black Pepper Cinnamon Honey With Fruit And Ice...,401827,10,195589,2009-11-30,4.0,"this is so quick, yet elegant enough for compa...",NaN,9,251.0
25749,Spring Hash Brown Quiche With Asparagus And Go...,475796,130,2091514,2012-03-06,14.0,"ready, set, cook! special edition contest entr...",11.0,9,449.0
25669,Spinach Salad With Oranges Dried Cherries An...,432241,20,366943,2010-07-07,7.0,adapted slightly from vegetarian times. sound...,9.0,9,90.0
11572,Frozen Pineapple Salad Good Use For Those Mu...,34104,15,35659,2002-07-15,6.0,fun and quick...another from the lone star leg...,6.0,9,178.0
26377,Sunny California Sour Cream Pineapple Cake Wit...,203530,65,108846,2007-01-05,7.0,this cake will be a hit. it is so simple. so...,6.0,9,173.0
28409,Unbelievable Healthy Andes Mint Chocolate Chip...,217698,270,439066,2007-03-20,6.0,this ice cream is possibly the best ice cream ...,6.0,9,788.0
28418,Uncle Bill S Beef Roast In A Slow Cooker,199326,375,27416,2006-12-05,NaN,i made this recipe just 2 days ago using sever...,16.0,9,146.0
209,5 Ingredient Yummy Layered Mexican Dip W No B...,382633,33,898589,2009-07-24,15.0,this recipe has been passed down from my best ...,7.0,9,458.0
28431,Uncle Luke Beans Judas Blancas A Lo To Lucas,483253,70,143318,2012-07-14,7.0,"according to ""the book of spanish cuisine,"" th...",11.0,9,329.0
28443,Unknownchef86 S Dovetailed Macaroni And Cheese...,285622,50,154044,2008-02-10,6.0,tired of the same old macaroni and cheese? try...,7.0,9,475.0
5811,Chicken In Poor Man S Rich Cream Cheese Sauce,380637,25,1273716,2009-07-07,10.0,this tastes rich and looks like an expensive g...,9.0,9,183.0
5762,Chicken Fajita Lettuce Cups Hungry Girl Ww...,319962,16,346383,2008-08-18,NaN,this is the from hungry girl website: per ser...,NaN,9,349.0
28152,Turducken A Chicken In A Duck In A Turkey,263072,660,21399,2007-11-02,NaN,a turducken is a de-boned turkey stuffed with ...,NaN,9,300.0
25758,Springtime Shrimp With Lemon Thyme Bow Tie...,213344,20,258921,2007-02-23,14.0,"lots of flavor, a little bit of time, this com...",14.0,9,102.0
10413,Eggplant Aubergine Fit For A Sheik Sheik Al...,83484,105,80079,2004-02-09,11.0,my grandmother never told me this was eggplant...,NaN,9,201.0
2693,Beef Vegetable And Barley Soup Uses Beef Vege...,245666,135,3288,2007-08-09,8.0,use recipe #245667 posted separately.,NaN,9,37.0
7987,Cranberry White Chocolate Quick Bread Mix In A...,443124,70,28177,2010-11-30,16.0,a moist and delicious quick bread mix for gift...,NaN,9,599.0
10112,Easy No Bake Frozen Cherry Cream Pie 2 Pies,309249,730,251917,2008-06-13,NaN,source: land o'lakes note: cook time is freez...,7.0,9,64.0
9937,Easy Chocolate Peanut Butter Chow Mein Cluster...,229852,10,89831,2007-05-23,5.0,sweet and salty makes these the perfect combin...,4.0,9,256.0
10468,Egyptian Lahma Bil Basal Beef In Rich Onion S...,195881,130,380039,2006-11-16,NaN,"this is amazing! very popular, simple dish mad...",8.0,9,274.0
10522,Elswet S Diabetic Cinnamon Raisin Bread 4 Br...,177521,200,169663,2006-07-13,NaN,this is another of our breakfast favorites wit...,10.0,9,657.0
9486,Dipping Sauce For Onion Patties Petals And Blo...,244885,2,201946,2007-08-06,2.0,i couldn't find exactly what i wanted so i inc...,8.0,9,88.0
10207,Easy Scalloped Potatoes With Ham And Havarti ...,373309,110,1266915,2009-05-20,8.0,scalloped potatoes made with reduced fat cream...,8.0,9,164.0
26089,Strawberry Sauce For Yogurt Ice Cream Pound ...,121189,25,64203,2005-05-09,NaN,this is such a delicious and sweet strawberry ...,NaN,9,192.0
10105,Easy Mocha Mochaccino De Caf Is Possible If...,48133,5,55713,2002-12-09,NaN,this was a recipe that i just threw a bunch of...,4.0,9,101.0
16459,Low Fat Buffalo Chicken Tenders W Blue Cheese...,202862,50,409184,2007-01-01,9.0,using the lean chicken tender reduced the amuo...,9.0,9,466.0
2731,Beer Battered Asparagus With A Lemon Herbed Di...,251720,22,324390,2007-09-09,10.0,"recipe courtesy david tutera, the famous weddi...",12.0,9,124.0
25896,Sticky Coconut Chicken With Chili Glaze And Co...,192940,85,371497,2006-10-31,23.0,"the recipe comes from ""the best of sunset"" and...",17.0,9,251.0
9501,Disneyland S Blue Bayou Monte Cristo Sandwich ...,141044,35,47892,2005-10-11,17.0,same as recipe #140973 but a vegetarian versio...,17.0,9,153.0
9819,Easy Baked Beans Tastes Like You Slaved For H...,51801,50,10113,2003-01-17,11.0,great baked bean--tastes like you made them fr...,NaN,9,102.0
9727,Easiest Crispy Jacket Baked Potato For Lazy B...,245266,45,102058,2007-08-08,NaN,i took a photo one day on zaar of some chicken...,5.0,9,400.0
25939,Stir Fried Zucchini With Corn And Sweet Bell P...,21470,25,22898,2002-03-04,8.0,this is a northeastern recipe using southweste...,NaN,9,165.0
9450,Dijon Pork Chops With Red Wine Vinegar And Herbs,142655,30,207176,2005-10-25,3.0,for the broiler from a food emporium recipe ca...,7.0,9,76.0
9448,Dijon Mustard Black Pepper Biscuits Low Fat L...,263543,20,539088,2007-11-06,10.0,these are a soft fluffy biscuit. they have a ...,9.0,9,301.0
10138,Easy Peach Cake With A Hint Of The Tropics,463550,50,573325,2011-09-04,8.0,this recipe takes a basic muffin batter and tu...,8.0,9,268.0
10437,Eggplant Steaks With Chickpeas Feta Cheese An...,241106,30,226788,2007-07-17,15.0,these are a really good quick meal to make in ...,NaN,9,295.0
25711,Spinach Pear Salad With Gorgonzola Walnuts An...,176432,15,206101,2006-07-06,3.0,this sounds really good. i cut this recipe out...,NaN,9,103.0
10203,Easy Sausage Tomato Farfalle Bow Ties In C...,300745,35,367711,2008-04-25,NaN,totally easy dinner dish that tastes like you ...,12.0,9,284.0
26328,Summer Squash Gratin With Tomatoes Parmesan A...,70330,100,32907,2003-09-03,28.0,delicious veggie dish with intense flavor. sui...,10.0,9,335.0
10018,Easy Garlic Basil And Parmesan Bread For Brea...,169154,125,222478,2006-05-22,2.0,slight variant on some other recipes that i re...,NaN,9,59.0
25878,Steve S Wonderful And Relatively Uncomplicated...,159553,45,300122,2006-03-12,26.0,based on pico de gallo made by my brother with...,10.0,9,437.0
10322,Ediets Lunch Turkey Cheese Sandwich W Low...,306999,15,713236,2008-06-03,2.0,calories 482\r\ncarbs 14%\r\nprotein 7%\r\nfat 2%,6.0,9,43.0
9682,Duk Guk Authenitc Korean Rice Cake And Beef Soup,191423,40,304222,2006-10-23,7.0,this is the authenic korean recipe that my hal...,NaN,9,339.0
29778,Yummy Potato Salad For Those That Usually Hat...,238030,30,454328,2007-07-01,4.0,"i never liked potato salad, until this recipe....",7.0,9,576.0
5686,Chicken Breasts With Mushroom Cream Sauce Over...,398200,50,232669,2009-11-07,15.0,diabetes appropriate/low cal/low carb/low sodi...,12.0,9,412.0
3745,Brian Turner S Big Brekkie Swiss German And ...,290863,30,527607,2008-03-10,12.0,its a yorkshire chef but the recipe is both en...,11.0,9,372.0
28821,Veronica S Teriyaki Sauce Fondue Dip And Or M...,41197,5,51931,2002-09-24,1.0,"if making fondue, use this as a dip for your s...",5.0,9,167.0
3746,Brian S Milk Chocolate Chip Cookies Aka Dirt ...,394247,70,620435,2009-10-12,11.0,i am not a big fan of semi-sweet chocolate chi...,11.0,9,267.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [119]:
recipes['name']  = recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,description_length
26223,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,15,343.0
28083,Tsr Version Of T G I Friday S Black Bean Soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,14,436.0
26222,Subru Uncle S Toor Ki Dal Sindhi Style Dad M...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,14,1087.0
27876,Top Secret Recipes Version Of I H O P Griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,14,129.0
5734,Chicken Curry Or Cat S Vomit On A Bed Of Magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,13,144.0
...,...,...,...,...,...,...,...,...,...,...
23016,Rotini,207839,35,427101,2007-01-28,NaN,"i know the title is somewhat vague, but this i...",8.0,1,273.0
23063,Runzas,55733,45,68585,2003-03-06,17.0,this is an old recipe from a chain of restaura...,10.0,1,69.0
4340,Caesar,52399,1,67395,2003-01-27,4.0,"made with clamato, this is a very popular drin...",8.0,1,95.0
21111,Pomidori,353387,2,498271,2009-02-02,NaN,a fresh and fruity sipper you're sure to enjoy!,NaN,1,47.0
4710,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,1,341.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [66]:
recipes['name_word_count']  = list(map(lambda x: len(x), recipes['name'].str.split()))
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,description_length
26223,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,15,343.0
26222,Subru Uncle S Toor Ki Dal Sindhi Style Dad M...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,14,1087.0
27876,Top Secret Recipes Version Of I H O P Griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,14,129.0
28083,Tsr Version Of T G I Friday S Black Bean Soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,14,436.0
22778,Roasted Garlic Stuffed Steak With Garlic Mashe...,38409,85,53227,2002-08-26,NaN,this is for all those garlic lovers out there ...,8.0,13,88.0
...,...,...,...,...,...,...,...,...,...,...
23016,Rotini,207839,35,427101,2007-01-28,NaN,"i know the title is somewhat vague, but this i...",8.0,1,273.0
23063,Runzas,55733,45,68585,2003-03-06,17.0,this is an old recipe from a chain of restaura...,10.0,1,69.0
4340,Caesar,52399,1,67395,2003-01-27,4.0,"made with clamato, this is a very popular drin...",8.0,1,95.0
21111,Pomidori,353387,2,498271,2009-02-02,NaN,a fresh and fruity sipper you're sure to enjoy!,NaN,1,47.0
4710,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,1,341.0

In [20]:
#второй способ
'''recipes['name_word_count'] = recipes['name'].str.split().str.len()
recipes'''

"recipes['name_word_count'] = recipes['name'].str.split().str.len()\nrecipes"

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [141]:
recipes41 = recipes.groupby('contributor_id')['id'].count()
recipes41 = recipes41.sort_values(ascending = False)
print(recipes41)
print('contributor_id = 89831, добавил максимальное кол-во рецептов' )

contributor_id
89831         421
37449         346
37779         345
1533          186
169430        183
             ...
245835          1
245653          1
245590          1
245378          1
2002247884      1
Name: id, Length: 8404, dtype: int64
contributor_id = 89831, добавил максимальное кол-во рецептов

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [140]:
reviews42 = reviews.groupby('recipe_id')['rating'].mean() #средний рейтинг к каждому из рецептов
print(reviews42)
no_raiting = reviews.review.isnull().sum()
print('Всего отсутсвующих отзывов:', no_raiting)

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64
Всего отсутсвующих отзывов: 17

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [20]:
recipes.groupby(recipes['submitted'].dt.year).size()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
dtype: int64

In [21]:
'''recipes43 = recipes.copy()
recipes43['year'] = pd.DatetimeIndex(recipes['submitted']).year
recipes433 = recipes43.year.value_counts()
recipes433'''

2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: year, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [73]:
all51 = recipes.merge(reviews[~reviews['review'].isna()],left_on='id', right_on='recipe_id', how='inner')[['name', 'id', 'user_id', 'rating']]
all51
#~ означает not. ~True = False

,name,id,user_id,rating
0,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,184447,4
1,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,668205,5
2,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,843746,5
3,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,507469,4
4,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,719941,0
...,...,...,...,...
126674,Caramels,143615,1425430,5
126675,Caramels,143615,136558,5
126676,Caramels,143615,1800106861,5
126677,Caramels,143615,302094,5
126678,Caramels,143615,646764,5

In [72]:
no_reviews = reviews[reviews.review.isnull()]
print(no_reviews.head())
all51.loc[all51['user_id'] == 2001567544 ] #видим, что не находится  user_id = 2001567544   в all51

            user_id  recipe_id        date  rating review
56957    2001567544       9054  2017-06-03       5    NaN
273481   2002120930     167202  2018-04-18       4    NaN
56955    2001508809       9054  2017-04-26       5    NaN
783599   2001959957     335709  2018-01-28       5    NaN
1089381  2002299388      15553  2018-10-13       4    NaN

Empty DataFrame
Columns: [name, id, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [98]:
reviews52 = pd.DataFrame(reviews['recipe_id'].value_counts()).reset_index()
reviews52.set_axis(['id', 'review_count'], axis=1, inplace=True)
reviews52

           id  review_count
0       27208          1382
1       82102           708
2      135350           674
3      107786           592
4       50719           486
...       ...           ...
28095   23964             1
28096  499966             1
28097  418761             1
28098  430164             1
28099  296868             1

[28100 rows x 2 columns]

In [99]:
all52 = recipes.merge(reviews52, on='id', how='left')[['id', 'name', 'review_count']]
all52

           id                                               name  review_count
0       77188  Subru Uncle S Whole Green Moong Dal I Ll Be Ma...           7.0
1      113346  Top Secret Recipes Version Of  I H O P  Griddl...           6.0
2      102274  Tsr Version Of T G I  Friday S Black Bean Soup...         208.0
3       76908  Subru Uncle S Toor Ki Dal Sindhi Style  Dad  M...           8.0
4       68585  Gingery Carrot  And Orange Soup  Add A Touch O...           1.0
...       ...                                                ...           ...
29995  323195                                         Blackmoons           1.0
29996  156521                                        Bushwhacker           4.0
29997   12957                                           Basbousa          14.0
29998  264859                                          Josefinas          18.0
29999  143615                                           Caramels          12.0

[30000 rows x 3 columns]

In [102]:
no_reviews52 = all52[all52.review_count.isnull()]
print(no_reviews52.head())
all52.loc[all52['id'] == 294898 ] #видим, что не находится  user_id = 2001567544   в all51

        id                                               name  review_count
7   294898  Chicken Curry Or  Cat S Vomit On A Bed Of Magg...           NaN
18  437617  Spicy Shrimp And Bok Choy Stir Fry  South Beac...           NaN
44  312478  The Very Easiest Tomato Pie Ever  And It S Goo...           NaN
57   22003  The Perfect Smoky Baba Ghanouj  Served In Roas...           NaN
63  316000  Little Bunny Foo Foo Cake  Carrot Cake  With C...           NaN

       id                                               name  review_count
7  294898  Chicken Curry Or  Cat S Vomit On A Bed Of Magg...           NaN

In [103]:
all52['review_count'].fillna(0, inplace=True) #заменяем пустые значения на 0
all52.loc[all52['id'] == 294898 ] #видим, что значение review_count изменено на 0

       id                                               name  review_count
7  294898  Chicken Curry Or  Cat S Vomit On A Bed Of Magg...           0.0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [104]:
task53 = reviews['rating'].groupby(pd.DatetimeIndex(reviews['date']).year).mean().sort_values()
print('наименьший рейтинг', '\n', task53[:1])

наименьший рейтинг
 date
2017    3.353042
Name: rating, dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [105]:
recipes.sort_values(by=['name_word_count'], ascending=False, inplace=True)
recipes.head()
#  ascending=False, чтобы было убывание

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,description_length
26223,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,15,343.0
28083,Tsr Version Of T G I Friday S Black Bean Soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,14,436.0
26222,Subru Uncle S Toor Ki Dal Sindhi Style Dad M...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,14,1087.0
27876,Top Secret Recipes Version Of I H O P Griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,14,129.0
5734,Chicken Curry Or Cat S Vomit On A Bed Of Magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,13,144.0

In [106]:
recipes.to_csv('recipes61.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [107]:
with pd.ExcelWriter("pdlaboratory.xlsx") as writer:
    all51.to_excel(writer, sheet_name="Рецепты с оценками")
    all52.to_excel(writer, sheet_name="Количество отзывов по рецептам")

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3